<div class="card" *ngIf="response">
  <div class="card-body">
    <h5 class="text text-primary">Random User API</h5>
    <p class="card-text">Seed : {{response.info.seed}}</p>
    <p class="card-text">Result : {{response.info.results}}</p>
    <p class="card-text">Version : {{response.info.version}}</p>
  </div>
</div>

<br>

<table class="table table-striped" *ngIf="response">
  <thead class="table-light">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
  </thead>

  <tbody>
      <tr *ngFor="let user of response?.results; let i = index">
        <td><img [src]="user.imageUrl" [alt]="user.firstName" id="userImg"/></td>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address}}</td>
        <td>{{user.phone}}</td>
        <td>
          <button class="btn btn-outline-primary" [routerLink]="['/user', user.uuid]" type="button">View
          </button>
        </td>
      </tr>
  </tbody>
</table>
